.App {
  text-align: center;
  padding: 20px;
  background-color: rgb(246, 234, 234);
}

.App p {
  text-align: start;
  font-weight: bold;
  padding: 10px 0px;

}

.App h4 {
  text-align: start;
  padding: 20px 10px;
}



.university-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 20px;
}

.mentors-block {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 20px;
}

.advisor-block {
  display: grid;

  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 20px;
}

@media screen and (min-width: 340px) and (max-width: 480px) {
  .App {

    padding: 20px;
  }

  .university-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 20px;
  }

  .advisor-block {
    display: grid;

    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 20px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .App {}

  .university-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 20px;
  }

  .advisor-block {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .App {

    padding: 40px;
  }

  .university-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 20px;
  }

  .mentors-block {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 20px;
  }

  .advisor-block {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 20px;
  }

}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .App {

    padding: 60px 60px;
  }

  .university-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    grid-column-gap: 12px;
    grid-row-gap: 20px;
  }

  .mentors-block {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 20px;
  }

  .advisor-block {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 20px;
  }

}

@media screen and (min-width: 1200px) {
  .App {

    padding: 30px 100px;
  }

  .university-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    grid-column-gap: 12px;
    grid-row-gap: 20px;
  }

  .mentors-block {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 20px;
  }

  .advisor-block {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 20px;
  }
}